@media (max-width : 412px) {

    body{
       padding: 0;
    }
    .page1 nav .navR a{
        display: none;
    }
     nav .navR i{
        display: initial;
        font-size: 7vw;
        color: aliceblue;
        cursor: pointer;

    }

    .page1 .page1-inner{
        display: block ;
        line-height: 35px;

    }
    .page1 .page1-inner-left{
        display: block ;
        width: 100%;
        padding: 20px 0;
        height: 50%;

    }
   

    .page1 .page1-inner-left p{
        font-size: 17px;
    }
    
    .page1 .page1-inner-left h1{
        font-size: 40px;
    }
    .page1 .page1-inner-left h1 span{
        font-size: 40px;
    }
    .page1-inner .page1-inner-left-btn button{
        height: 5vh;
    }
    .page1-inner .page1-inner-left-btn .btn1 {
        font-size: 13px;
    }
    .page1-inner .page1-inner-left-btn .btn2 {
        font-size: 13px;
    }

    

    .page1-inner .page1-inner-right{
    height: 50%;
        width: 100%;
      
    
      
    }
    .page1-inner-right .robot img{
        height: 32vh;
        margin-top: 0;
    
      
    }
.page2{
    height: 190%;
}

.page2 .page2-inner .about h1{
    font-size: 40px;
}

.page2 .page2-inner .intro p{
    font-size: 50px;
    font-size: 20px;
    
  

}

.page2 .page2-inner .skills {
    height: 120vh;
 
   

}
.page2 .page2-inner .skills .skills-inner{
    display: block;
    height: 95%;
    background-color: transparent;
   
 
}
    .skills .skills-inner .sL{
        height: 50%;
        width: 100%;
        background-color: rgb(36, 34, 34);
        margin-bottom: 30px;
        border-radius: 20px;
    }
    .skills .skills-inner .sL .sL-inn{
        text-align: start;
    }

    .skills .skills-inner .sR {
        height:46%;
        width: 100%;
        background-color: rgb(36, 34, 34);
        border-radius: 20px;

    }
    .skills-inner .sR-inner .languages h4{
        font-size: 15px;
    }


    
}