*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body {
    width: 100%;
    height: 100%;
    
    padding: 10px 20px;
    background-color: rgb(36, 34, 34);
    font-family: Arial, Helvetica, sans-serif;


}

.hardik{
    font-size: 8vh;
    color: rgb(192, 187, 187);
    font-weight: 600;
    
}

/* Page 1 */

.page1{
    width: 100%;
    border-radius: 18px;
    padding: 5px 10px;
    background: linear-gradient(to right , #8c0118 , #68219a);
    margin-bottom: 10vh;
}


.page1 nav{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;


}

.page1 nav .navL img {
    height: 3vw;

}
nav .navR {
display: flex;
    gap: 20px;

}
nav .navR i {
    display: none;
    
    }

.navL h1{
    color: aliceblue;

    font-size: 5vh;
}
.navR a{
    color: aliceblue;
    text-decoration: none;
    font-size: 3vh;
}

.page1 .page1-inner{
    display: flex ;
    height:80vh;
    line-height: 39px;
}

.page1-inner .page1-inner-left{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page1-inner-left-inn h1{
    font-size: 4vw;
}
.page1-inner-left-inn p{
    font-size: 1.7vw;
}


.page1-inner .page1-inner-left-btn{
    display: flex;
    margin-top: 40px;
    gap: 20px;

}
.page1-inner .page1-inner-left-btn .btn1{
    padding: 0.8vw 2vw;
    background-color: rgb(238, 89, 89);
    border: none;
    border-radius: 8px;
    width: 120px;
    font-size: 1.2vw;
    cursor: pointer;
 color: black;
    font-weight: 400;
  
}
.page1-inner .page1-inner-left-btn .btn2{
    padding: 0.8vw 2vw;
 background-color: rgb(44, 42, 42);
    border: none;
    border-radius: 8px;
    width: 120px;
    font-size: 1.2vw;
    cursor: pointer;
    color: rgb(192, 187, 187);
    font-weight: 600;
  
}




.page1-inner .page1-inner-right{
    width: 40%;
    height: 100%;
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
  
}

.page1-inner-right .robot img{
    height:50vh;
    margin-top: 50px;
}



/* page2 */


.page2{
    width: 100%;
    border-radius: 18px;
    padding: 5px 10px;
    background: linear-gradient(to right , #8c0118 , #68219a);
    margin-bottom: 10vh;
    height:110vh;
}
.about{
   height: 15vh;;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
    color: rgb(192, 187, 187);

}
.about h1{
    font-size: 4vw;
}
.page2 .page2-inner{
    height:100vh;
}

.page2 .page2-inner .intro{
    text-align: center;
    padding: 10px 50px;
}
.page2 .page2-inner .intro p {
    font-size: 25px;

}

.page2 .page2-inner .skills {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills .skills-inner{
    height: 80%;
    width: 90%;
    background-color: rgb(36, 34, 34);
    display: flex;
    
}
.skills-inner .sL{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills-inner .sL .sL-inn{
    height: 80%;
    width:80%;
    text-align: end;
}

.skills-inner .sL .sL-inn .sL-intro{
   
    font-size:12px;
    line-height: 40px;
}
.skills-inner .sL .sL-inn .sL-intro a{
    text-decoration: none;
    color: rgb(192, 187, 187);
}
.skills-inner .sL .sL-inn .sL-intro h1{
    color: rgb(100, 148, 28);
    font-weight: 600;
}
.skills-inner .sL .sL-inn .sL-intro span{
    color: rgb(192, 187, 187);
  font-weight: 100;
    
}

.sL-img img{
    height: 16vh;
    width: 16vh;
    border-radius: 50%;
    margin-bottom: 20px;
}










.skills-inner .sR{
    width: 50%;
    height: 100%;
    padding: 10px 20px;
}

.skills-inner .sR-inner .languages{
    margin-bottom: 20px;

}
.skills-inner .sR-inner .languages h4{
    font-size: 1.4vw;
    font-weight: 100;
    margin-bottom: 10px;
    color: rgb(152, 147, 147);
}
.skills-inner .sR-inner h1{
    margin-bottom: 30px;
    margin-top: 10px;
    color: rgb(192, 187, 187);
}

.skills-inner .sR-inner .html{
    width: 95%;
    height: 3vh;
    background-color: rgb(151, 204, 73);
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills-inner .sR-inner .java{
    width: 80%;
    height: 3vh;
    background-color: rgb(151, 204, 73);
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills-inner .sR-inner .react{
    width: 90%;
    height: 3vh;
    background-color: rgb(151, 204, 73);
    display: flex;
    justify-content: center;
    align-items: center;
}